{% extends 'base.html' %}

{% block content %}

<h2 class="myprofile">Registered Investors</h2>

{% if investors %}

<div class="investors-grid">

    {% for investor in investors %}

    <div class="investor-card">

        <div class="investor-top">

            <div class="company-icon">
                🏢
            </div>

            <div>
                <h3>{{ investor.company_name }}</h3>
                <span class="role-badge">
                    {{ investor.role_at_company }}
                </span>
            </div>

        </div>

        <div class="investor-info">

            <p>
                📍 {{ investor.city }}
            </p>

            <p class="company-desc">
                {{ investor.about_company[:120] }}...
            </p>

        </div>

        <a href="/investor/{{ investor.id }}"
           class="investor-btn">
            View Investor →
        </a>

    </div>

    {% endfor %}

</div>
{% else %}

<div class="project-card">
    <h3>No Investors Registered Yet</h3>
</div>

{% endif %}

{% endblock %}
