{% extends 'base.html' %}

{% block content %}

<div class="project-card">

    <h2 class="myprofile">Privacy Policy</h2>

    <p>
        At EduBridge, we respect your privacy and are committed
        to protecting your personal information.
    </p>

    <h3>Information We Collect</h3>

    <ul>
        <li>Name</li>
        <li>Email Address</li>
        <li>Contact Number</li>
        <li>College Information</li>
        <li>Company Information (Investors)</li>
    </ul>

    <h3>How We Use Information</h3>

    <ul>
        <li>To create and manage user accounts.</li>
        <li>To connect students and investors.</li>
        <li>To verify users through email OTP.</li>
        <li>To improve platform security.</li>
    </ul>

    <h3>Data Security</h3>

    <p>
        We take reasonable measures to protect user data from
        unauthorized access and misuse.
    </p>

    <h3>Contact Us</h3>

    <p>
        For privacy-related questions, contact the EduBridge team.
    </p>

</div>

{% endblock %}