{% extends 'base.html' %}

{% block content %}

<div class="project-card">

<h2 class="myprofile">Reset Password</h2>

<form method="POST">

    <input type="password"
           name="old_password"
           placeholder="Current Password"
           required>

    <input type="password"
           name="new_password"
           placeholder="New Password"
           required>

    <input type="password"
           name="confirm_password"
           placeholder="Confirm New Password"
           required>

    <button type="submit" class="save-btn">
        Update Password
    </button>

</form>

</div>

{% endblock %}