{% extends 'base.html' %}

{% block content %}

<div class="project-form-container">
       <div class="project-card">

<h2 class="myprofile">Update Project</h2>
<br>
<form method="POST">
<label>Project Title</label>
<input type="text"
       name="title"
       value="{{ project.title }}"
       required>

<label>Short Description</label>
<textarea
name="short_description"
required>{{ project.short_description }}</textarea>

<label>Detailed Description</label>
<textarea
name="detailed_description"
rows="8"
required>{{ project.detailed_description }}</textarea>

<label>Funding Required</label>
<input type="number"
       name="funding"
       value="{{ project.funding_required }}"
       required>

<label>Interest</label>
<input type="number"
       step="0.01"
       name="interest"
       value="{{ project.interest }}"
       required>

            <div class="form-row">

    <div class="form-group">
        <label>Months to Return Funding</label>
        <input type="number"
               name="return_months"
               placeholder="Months"
               required>
    </div>

    <div class="form-group">
        <label>Project Domain</label>

        <select name="category"
                class="domain-select"
                required>

            <option value="">Select Project Domain</option>

            <option value="Smart Agriculture & Food Systems">
                Smart Agriculture & Food Systems
            </option>

            <option value="Disaster Management & Public Safety">
                Disaster Management & Public Safety
            </option>

            <option value="Education Technology & Digital Inclusion">
                Education Technology & Digital Inclusion
            </option>

            <option value="Social Innovation & Inclusive Technology">
                Social Innovation & Inclusive Technology
            </option>

            <option value="Smart Cities & Urban Innovation">
                Smart Cities & Urban Innovation
            </option>

            <option value="Digital Healthcare & Well-being">
                Digital Healthcare & Well-being
            </option>

            <option value="Environment & Climate Sustainability">
                Environment & Climate Sustainability
            </option>

             <option value="IoT Based">
            IoT Based
        </option>

        <option value="Hardware Based">
            Hardware Based
        </option>

        </select>
    </div>

</div>

<button type="submit"
        class="save-btn edit-btn">
    Save Changes
</button>

</form>
</div>
</div>

{% endblock %}