{% extends 'base.html' %}

{% block content %}

<h2 class="page-title">
    Projects
</h2>

<div class="projects-grid">

{% if projects %}

    {% for p in projects %}

    <div class="project-item">

    <div class="project-badge">
        🚀 Active Project
    </div>

    <h3>{{ p[1] }}</h3>

    <p>{{ p[2] }}</p>

    <p>
        <strong>💰 Funding:</strong>
        ₹{{ p[3] }}
    </p>

    <div class="project-domain">
        📂 {{ p[6] }}
    </div>
<br>
    <a href="/project/{{ p[0] }}"
       class="btn-small">
       View Details →
    </a>

</div>
    {% endfor %}

{% else %}

    <div class="no-projects">
        
        <p>No projects are available in the selected domain.</p>
    </div>

{% endif %}

</div>

{% endblock %}
